[Unit]
Description=fcitx5 keyboard manager
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/fcitx5

[Install]
WantedBy=graphical-session.target
